<%- include('includes/head.ejs', { title: 'Discussion' }) %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Discuss!</h1>
    <section>
      <ol>
        <% for (const comment of comments) { %>
          <li>
            <%= comment.text %>
            <!-- before, the tag above had a - instead of the =. WHENEVER YOU DISPLAY USER GENERATED CONTENT always use the = instead, this will escape any inputted code and display it as raw text instead. -->
          </li>
        <% } %>
      </ol>
    </section>
    <section>

      <form action="/discussion/comment" method="POST">
        <!-- CSRF TOKEN -->
        <div class="form-control">
          <label for="comment">My Comment</label>
          <textarea name="comment" id="comment" rows="5"></textarea>
        </div>
        <button class="btn">Send</button>
      </form>
    </section>
  </main>
</body>
</html>